@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

@using (Html.BeginForm("Sell", "Home", FormMethod.Post))
{
    <div class="mb-3 mt-3">
        <label for="email">Email:</label><br />
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="Email" required>
    </div>

    <div class="mb-3">
        <label for="age">Age:</label><br />
        <input type="number" class="form-control" id="age" name="age" required>
    </div>

    <div class="form-check mb-3">
        <label class="form-check-label">Gender:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="form-check-label" for="Female">
            <input class="form-check-input" id="Female" type="radio" name="gender" value="Female" required>
            Female
        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="form-check-label" for="male">
            <input class="form-check-input" id="male" type="radio" name="gender" value="Male" required>
            Male
        </label>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

    <div class="form-check mb-3">
        <label>Courses:</label>
        <div>
            <input class="form-check-input" type="checkbox" name="courses" id="C#" value="C#" />
            <label class="form-check-label" for="C#">C#</label>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" name="courses" id="C++" value="C++" />
            <label class="form-check-label" for="C++">C++</label>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" name="courses" id="Java" value="Java" />
            <label class="form-check-label" for="Java">Java</label>
        </div>
    </div>

    <label>Select Qualification:</label><br />
    <select class="form-select" name="Select" required>
        <option value="" disabled selected>Department</option>
        <option value="Bachelor's">Bachelor's</option>
        <option value="Doctorate">Doctorate</option>
    </select>

    <br /><br />
    <button type="submit" class="btn btn-primary">Submit</button>
}
